envs/dev/.terraform/**
envs/dev/.terraform*
envs/dev/.terraform/modules/modules.json
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfvars
.env
__pycache__/
ecs-frontend/bun.lockb
ecs-frontend/public/favicon.ico
ecs-frontend/node_modules/
ecs-frontend/dist/
